REDIS_HOST_PORT=6379
POSTGRES_HOST_PORT=5432
KRATOS_PUBLIC_HOST_PORT=4433
KRATOS_ADMIN_HOST_PORT=4434
KRATOS_ENV=dev
# KRATOS_ENV=prod
KRATOS_DSN=postgres://postgres:change-me@postgres:5432/kratos?sslmode=disable&max_conns=20&max_idle_conns=4
KRATOS_COOKIE_SECRET=0123456789abcdef0123456789abcdef
KRATOS_CIPHER_SECRET=fedcba9876543210fedcba9876543210
KRATOS_SMTP_CONNECTION_URI=smtps://test:test@mailslurper:1025/?skip_ssl_verify=true
KRATOS_BCRYPT_COST=12
KRATOS_LOG_LEVEL=debug
MAILSLURPER_SMTP_HOST_PORT=4436
MAILSLURPER_WEB_HOST_PORT=4437
MINIO_API_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001
MILVUS_GRPC_HOST_PORT=19530
MILVUS_HTTP_HOST_PORT=9091
LIGHTRAG_HOST_PORT=9621
ETCD_CLIENT_HOST_PORT=2379
ETCD_PEER_HOST_PORT=2380
NEO4J_HTTP_HOST_PORT=7474
NEO4J_BOLT_HOST_PORT=7687
TEMPORAL_GRPC_HOST_PORT=7233
TEMPORAL_UI_HOST_PORT=8233
APISIX_ADMIN_HOST_PORT=9180
APISIX_HTTP_HOST_PORT=9080
APISIX_PLUGIN_HOST_PORT=9093
APISIX_HTTPS_HOST_PORT=9443
APISIX_CONTROL_HOST_PORT=9092
WEB1_HOST_PORT=9081
TASK_ORCHESTRATOR_HOST_PORT=50050
AGENT_WORKFLOW_BACKEND_NAME=langgraph
AGENT_WORKFLOW_TASK_QUEUE=agent-workflow-queue
AGENT_WORKFLOW_TYPE=kardcraft.agent_workflow.v1
KARDCRAFT_SCHEDULE_TASK_QUEUE=kardcraft-schedule
TASK_ORCHESTRATOR_BASE_URL=http://task-orchestrator:50050
ANKI_RUNTIME_HOST_PORT=8012
FILE_STORAGE_GRPC_HOST_PORT=50053
FILE_STORAGE_HTTP_HOST_PORT=8082
TAVILY_API_KEY=enter-your-key
GOAGENT_SOURCE_PATH=../GoAgent
